@charset "UTF-8";

.background{
   border:0;
   height:70px;
   position:relative;
   margin-bottom:30px;
}

.buttons{
    position: absolute; 
    left:10px;
    right: 10px;
    top:10px;
    bottom:20px;
}


.index{
   background-color:Tomato;
    width:100px; height: 40px;
    border:0;
    border-radius:5px;
    text-align:center;
    font-size:10pt;
}


.profile{
    background-color: rgb(0, 206, 154);
    border:0px;
    color: white;
    width:100px; height: 40px;
    border-radius: 5px;
    font-size: 10pt;
}

.login{
    background-color: rgb(0, 206, 154);
    color: white;
    width:100px; height: 40px;
    border:0px;
    border-radius: 5px;
    font-size: 10pt;
}

.logout{
    background-color: rgb(0, 206, 154);
    color: white;
    width:100px; height: 40px;
    border:0px;
    border-radius: 5px;
    font-size: 10pt;
}

.admin{
    background-color: rgb(0, 206, 154);
    color: white;
    width:100px; height: 40px;
    border:0px;
    border-radius: 5px;
    font-size: 10pt;
}